.addredbtn {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 100;
  border-radius: 5px;
  width: 120px;
  height: 5vh;
  align-self: center;
  padding: 0;

  &__button {
    font-size: 2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: pink;
    opacity: 0.8;
    transition: ease-in-out 0.5s;
    &:hover {
      transition: ease-in-out 0.5s;

      opacity: 1;
    }
    &:disabled {
      opacity: 0.5;
    }
    &.--right {
      border-radius: 5px;
      background-color: lightblue;

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__text {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem 1rem;
  }
}
