@use "../abstracts/_breakpoints" as media;
.prodCart {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 4rem 0;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__content {
    margin: 2rem 0;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
  }

  &__text {
    font-size: 1.2rem;
  }
  &__price {
    margin-top: 2rem;
  }

  &__span {
    font-size: 3rem;
    justify-content: center;
    align-self: center;
  }

  &__pricing {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    cursor: pointer;
    color: red;
    margin: 1rem 0;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: solid 1px white;
    background-color: transparent;
    transition: ease-in-out 0.5s;
    &:hover {
      transition: ease-in-out 0.5s;
      border-bottom: solid 1px red;
    }
  }
}

.btnsDiv {
  width: 90%;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  &__child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    height: 20vh;
  }

  &__text {
    margin: 1rem 0;
    font-size: 1.3rem;
  }
  &__button {
    background-color: $gld;
    color: $wh;
    border: solid 1px $gld;
    padding: 1rem 2rem;
    border-radius: 5px;
    max-width: 15rem;
    margin: auto;
    transition: ease-in-out 0.5s;
    font-size: 1.1rem;
    &:hover {
      transition: ease-in-out 0.5s;
      background-color: $bl;
      color: $wh;
      border: solid 1px $bl;
    }
    &:focus {
      background-color: blue;
      color: $wh;
      border: solid 1px blue;
    }
  }
}

@include media.query('>=sm') {
  .prodCart {
    &__pricing {
      justify-content: space-between;
    }
  }
}
@include media.query('>sm') {
  .prodCart {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-content: space-between;
    margin: 1rem 0;
    padding-right: 5rem;
    &__image {
      width: 40%;
      height: 30vh;
    }
    &__content {
      width: 25%;
      margin: auto 0;
      padding: 0;
    }
    &__pricing {
      flex-direction: column;
      justify-content: center;
    }

    &__container {
      width: 90%;
      margin: auto;
    }
  }

  .btnsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 55%;
  }
}
