.form {
  width: 100%;
  height: 80vh;
  display: flex;
  align-self: center;
  font-family: $mainFont;
  &__card {
    max-width: 50rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: auto;
    padding: 3rem 2rem;
    border-radius: 5px;
  }

  &__title {
    font-size: 3rem;
    font-weight: bolder;
  }
  &__label {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  &__input {
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: solid 1px $lightgrey;
    &.--error {
      border: solid 1px red;
    }
  }

  &__button {
    margin-top: 1.1rem;
    padding: 1rem;
    background-color: $bl;
    color: $wh;
    &:hover {
      color: $bl;
      background-color: $wh;
    }
    &:focus {
      border: solid 1px $lightgrey;
    }
  }

  &__error {
    margin: 0.5rem 0;
    color: red;
  }

  &__link {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    width: 4vw;
    text-decoration: none;
    color: $bl;
    border-bottom: solid 1px transparent;
    transition: ease-in-out 0.5s;
    &:hover {
      border-bottom: solid 1px $bl;
    }
  }
}
