.quotes {
  background-color: $bl;
  color: $wh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-content: center;

  padding: 2rem;
  &__title {
    overflow: hidden;

    font-size: 7rem;
  }
  &__text {
    font-size: 1.3rem;
  }
}
